.content-container {
  width: 80%; /* Adjust width as needed */
  margin: auto; /* Center align the container */
  margin-top: 5%;
  overflow: hidden; /* Hide overflow to contain animations */
  perspective: 1000px; /* Perspective for 3D effect */
}

.mentorbot-container {
  background-color: #ff751a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  animation: slideInLeft 1s ease; /* Animation from left to right */
  transform-origin: left; /* Start animation from left side */
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out; /* Hover effect */
}

.mentorbot-container:hover {
  transform: scale(1.05); /* Zoom out on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Box shadow on hover */
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.mentorbot-container h2 {
  color: white;
  font-size: 36px;
  font-family: Helvetica;
}

.mentorbot-container h3 {
  color: white;
  margin-top: 5px;
  font-family: Proxima Nova;
  font-size: 20px;
}

.description-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  font-family: Futura;
  font-size: 15px;
}

@media (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
  }
  .navbar-links > * {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
