.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000CC;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.modal {
    cursor: default;
    background: white;
    padding: 45px;
    width: 100%;
    max-width: 450px;
    height: 65vh;
    max-height: 80%;
    overflow-y: auto;
    position: relative; /* Add this line */
}

.login-form h1 {
    font-size: 1.5rem;
    text-align: center;
    font-family: Helvetica;
    color: #ff751a;
    font-weight: bold;
    margin-top: -50px;
}

.login-form {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 25px; 
}

.input-group {
    display: grid;
    font-family: Futura, sans-serif;
    font-size:small;
    gap: 10px;
}

.input-group label {
    margin-bottom: 8px;
}

.input-wrapper {
    /* background-color: #f1f5f9; */
    border: 0.5px solid grey;
    padding: 10px;
    display: flex;
    align-items: center;
}

.input-wrapper:active{
    border: 0.5px solid #ff751a;
}

.input-field {
    width: 100%;
    height: 100%;
    outline: none;
    background: transparent;
}

.close-icon {
    position: absolute; /* Change to absolute */
    top: 0px; /* Adjust as needed */
    right: 0px; /* Adjust as needed */
    font-weight: bold;
    align-items: flex-end;
    justify-content: right;
    font-size: 1.5rem;
    cursor: pointer;
    /* transition: color 0.3s; */
}

.remember-me {
    padding-top: 5px;
    display: flex;
    align-items: baseline;
    gap: 8px;
    justify-content: space-between;
}

.toggle-password {
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 8px;
}

.forgot-password-link {
    padding-top: 5px;
    color: #ff751a;
    text-decoration: none;
    transition: color 0.2s;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

.submit-button {
    padding: 10px 20px;
    font-family: Futura, sans-serif;
    font-weight: bold;
    background: #ff751a;
    color: black;
    border: none;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #da6a1f;
}

.signup-link {
    text-align: center;
}

.signup-link .signup-link-highlight {
    color: #ff751a;
    transition: color 0.2s;
}

.signup-link .signup-link-highlight:hover{
    text-decoration: underline;
}
